<div class="row">
  <div class="col-xs-12 banner-image">
    <%= image_tag("slider-atl-skyline-piedmont.jpg", alt: "FX Chiropractic", class: "img-responsive") %>
  </div>
</div>
<!--BEGIN 4 COLUMN INFO -->
<div class="row container-2">
  <div class="col-md-3 home-info">
    <a ui-sref="about"><%= image_tag("circle01.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
    <h2>About</h2>
    <p>Find out why you should choose f(x) Chiropractic &amp; Performance and learn about your treatment team.</p>
  </div>
  <div class="col-md-3 home-info">
    <a ui-sref="services"><%= image_tag("circle02.png", alt: "FX Chiropractic - Services", class: "img-responsive grow") %></a>
    <h2>Services</h2>
    <p>Discover our unique techniques and state of the art treatments. Each person is unique, let f(x) Chiropractic &amp; Performance provide the right service for your individual needs.</p>
  </div>
  <div class="col-md-3 home-info">
    <a ui-sref="schedule"><%= image_tag("circle03.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
    <h2>Schedule</h2>
    <p>Make a new appointment, learn what to expect and find out information about your first visit.</p>
  </div>
  <div class="col-md-3 home-info">
    <a ui-sref="blog"><%= image_tag("circle04.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
    <h2>Blog</h2>
    <p>Read about current chiropractic care and how our professional team strives provide the best service in Atlanta.</p>
  </div>
</div>