<div>
  <div class="row" style="background: #d0d0d0;">
    <div class="col-xs-12">
      <slider-two images="homeCtrl.imagesTwo" />
    </div>
  </div>
  <!--BEGIN 4 COLUMN INFO -->
  <div class="row container-2">
    <div class="col-md-3 home-info">
      <a ui-sref="about"><%= image_tag("circle01.png", alt: "FX Chiropractic", class: "img-responsive grow") %></a>
      <h2>About Us</h2>
      <p>Jean shorts lo-fi crucifix paleo bitters, selvage hella street art wayfarers. Heirloom flexitarian irony, tote bag gastropub vinyl Pitchfork gentrify Brooklyn letterpress kogi.</p>
    </div>
    <div class="col-md-3 home-info">
      <%= image_tag("circle02.png", alt: "FX Chiropractic", class: "img-responsive grow") %>
      <h2>Services We Offer</h2>
      <p>Try-hard ethical DIY, bicycle rights Carles mumblecore occupy Austin kitsch 90's cold-pressed mlkshk scenester. Cronut asymmetrical locavore post-ironic, Bushwick Portland flexitarian church-key typewriter Neutra PBR tote bag.</p>
    </div>
    <div class="col-md-3 home-info">
      <%= image_tag("circle03.png", alt: "FX Chiropractic", class: "img-responsive grow") %>
      <h2>Meet Our Staff</h2>
      <p>Health goth asymmetrical tote bag organic migas vegan. Literally Brooklyn jean shorts, kogi Williamsburg selfies raw denim Bushwick crucifix irony fap pop-up asymmetrical Godard.</p>
    </div>
    <div class="col-md-3 home-info">
      <%= image_tag("circle04.png", alt: "FX Chiropractic", class: "img-responsive grow") %>
      <h2>Patient Feedback</h2>
      <p>Williamsburg fingerstache Banksy sartorial Shoreditch, swag twee gastropub wolf street art skateboard paleo Thundercats.</p>
    </div>
  </div>
  <!--END 4 COLUMN INFO -->
  <!--BEGIN MAP/CONTACT/SOCIAL -->
  <div class="row container-2" style="background: #8fb5d7;">
    <div class="col-md-4 home-info-2">
      <h2>Map</h2>      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.333888354693!2d-84.3878494!3d33.777875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5046654807d2f%3A0x9e3a150d9112daa7!2s845+Spring+St+NW%2C+Atlanta%2C+GA+30308!5e0!3m2!1sen!2sus!4v1442947907202" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 home-info-2">
      <h2>Location</h2>
      <address class="text-center">
        <strong>FX Chiropractic &amp; Performance</strong><br>
        900 Peachtree St NW<br>
        Atlanta GA 30309<br>
        <abbr title="Phone">P:</abbr> (800) 555-1212<br>
        <abbr title="Email">E:</abbr> drchiro@fxchiro.com
      </address>
    </div>
    <div class="col-md-4 home-info-2 social-icon-box">
      <h2>Social Media</h2>
      <div>
      <%= image_tag("facebook-gray.png", alt: "Facebook", class: "img-responsive social-icon grow-social-icon") %>
      </div>
      <div>
      <%= image_tag("twitter-gray.png", alt: "Twitter", class: "img-responsive social-icon grow-social-icon") %>
      </div>
      <div>
      <%= image_tag("linkedin-gray.png", alt: "LinkedIn", class: "img-responsive social-icon grow-social-icon") %>
      </div>
      <div>
      <%= image_tag("vimeo-gray.png", alt: "Vimeo", class: "img-responsive social-icon grow-social-icon") %>
      </div>        
    </div>
  </div>  
  <!--END MAP/CONTACT/SOCIAL -->
</div>