<!DOCTYPE html>
<html ng-app="fxChiropracticApp">
<head>
  <title>FxChiropractic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
  <div ng-include="'_navbar.html'"></div>

    <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <%= yield %>

  <div class="top-divider"></div>
  <div ng-include="'_footer.html'"></div>
</div>
</body>
</html>
